@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
        :root {
            --redColour: #ff2222;
            --lightRedColour: #ffecec;
            --yellowColour: #ffc822;
            --lightYellowColour: #fffaec;
            --blueColour: #006eff;
            --lightBlueColour: #eaf3fe;
            --greenColour: #59A96A;
            --lightGreenColour: #e3f9e8;
            --orangeColour: #ee4414;
            --lightOrangeColour: #f5dfd9;
            --bluePigmentColour: #004FFF;
            --lightBluePigmentColour: #e0e9fb;
            --greyColour: #e2e7f1;
            --whiteColour: #F4F4F8; 
            --blackColour: #0C0C0C;
            --darkGreyColour: #36494E;
        }
        * {
            margin: 0;
            padding: 0;
            font-family: 'Plus Jakarta Sans', sans-serif;
        }
        a {
            text-decoration: none;
        }
        .grid-container {
            display: grid;
            height: 100vh;
            grid-template: repeat(4, 1fr) / repeat(4, 1fr);
        }
        .grid-navbar {
            background-color: var(--blueColour);
            text-transform: capitalize;
            grid-area: 1/1/5/2;
            padding: 40px 20px;
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
        .grid-navbar a {
            color: white;
        }
        .dashboard {
            font-size: 2rem;
            font-weight: 600;
        }
        .main-links, .secondary-links {
            font-size: 1.3rem;
        }
        .main-links p, .secondary-links p {
            padding-top: 10px;
        }
        .main-links-links > li{
            gap: 50px;
        }


        .grid-header {
            grid-area: 1/2/2/5;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            text-transform: capitalize;
            padding: 20px 40px;
            color: var(--blackColour);
        }
        .grid-header-first-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
        .profile-container-icon {
            height: 60px;
            border-radius: 10000px;
        }
        .profile-welcome-icon {
            height: 70px;
            border-radius: 10000px;
        }
        .search-container, .profile-container {
            display: flex;
            align-items: center;
            gap: 30px;
            font-size: 1.2rem;
            font-weight: 500;
        }
        .search-container a {
            color: var(--blackColour);
        }
        .search-field {
            width: 30vw;
            border: none;
            font-size: 1.1rem;
            background-color: var(--greyColour);
            padding: 5px 10px;
            border-radius: 10000px;
            color: var(--darkGreyColour);
        }
        .grid-header-second-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
        .welcome-container, .buttons-container {
            display: flex;
            align-items: center;
            gap: 30px;
            font-size: 1.2rem;
            font-weight: 500;
        }
        .new-button, .upload-button, .share-button {
            border: none;
            font-size: 1.2rem;
            width: 8vw;
            padding: 10px 15px;
            border-radius: 10000px;
            text-transform: capitalize;
        }
        .new-button {
            background-color: var(--lightBlueColour);
            color: var(--blueColour);
            font-weight: 600;
            border: 2px solid var(--blueColour);
            transition: 0.2s all ease-in-out;
        }
        .new-button:hover {
            background-color: var(--blueColour);
            color: var(--lightBlueColour);
            border: 2px solid var(--blueColour);
            transition: 0.2s all ease-in-out;
            cursor: pointer;
        }
        .upload-button {
            background-color: var(--lightYellowColour);
            color: var(--yellowColour);
            font-weight: 600;
            border: 2px solid var(--yellowColour);
            transition: 0.2s all ease-in-out;
        }
        .upload-button:hover {
            background-color: var(--yellowColour);
            color: var(--lightYellowColour);
            border: 2px solid var(--yellowColour);
            transition: 0.2s all ease-in-out;
            cursor: pointer;
        }
        .share-button {
            background-color: var(--lightRedColour);
            color: var(--redColour);
            font-weight: 600;
            border: 2px solid var(--redColour);
            transition: 0.2s all ease-in-out;
        }
        .share-button:hover {
            background-color: var(--redColour);
            color: var(--lightRedColour);
            border: 2px solid var(--redColour);
            transition: 0.2s all ease-in-out;
            cursor: pointer;
        }


        .grid-content {
            grid-area: 2/2/5/4;
            display: grid;
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            padding: 20px;
            gap: 20px;
        }
        .grid-content-project {
            padding: 10px 20px;
            border-radius: 20px;
            transition: 0.2s all ease-in-out;
            cursor: pointer;
        }
        .grid-content-project:hover {
            transform: scale(1.05);
            transition: 0.2s all ease-in-out;
        }
        .grid-content-project-text {
            color: var(--darkGreyColour);
        }
        .grid-project-header {
            font-size: 1.3rem;
            font-weight: 600;
            text-transform: capitalize;
            color: var(--blackColour);
            margin-bottom: 10px;
        }
        .project-1 {
            border: 2px solid var(--blueColour);
            background-color: var(--lightBlueColour);
        }
        .project-2 {
            border: 2px solid var(--yellowColour);
            background-color: var(--lightYellowColour);
        }
        .project-3 {
            border: 2px solid var(--redColour);
            background-color: var(--lightRedColour);
        }
        .project-4 {
            border: 2px solid var(--greenColour);
            background-color: var(--lightGreenColour);
        }



        .grid-sidebar {
            grid-area: 2/4/5/5;
            display: grid;
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: 1fr;
            padding: 20px;
        }
        .grid-content, .grid-sidebar {
            background-color: var(--greyColour);
        }
        .announcements-section {
            grid-area: 1/1/3/2;
            background-color: var(--lightOrangeColour);
            overflow: auto;
            border-radius: 20px;
            padding: 20px;
            border: 2px solid var(--orangeColour);
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .announcement-text-header {
            font-weight: 600;
        }
        .announcement-text-desc {
            color: var(--darkGreyColour);
        }


        .trending-section {
            grid-area: 3/1/7/7;
            background-color: var(--lightBluePigmentColour);
            margin-top: 20px;
            border-radius: 20px;
            padding: 20px;
            border: 2px solid var(--bluePigmentColour);
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .trending-profiles {
            height: 60px;
            border-radius: 10000px;
        }
        .trending {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }
        .trending-text-header {
            font-weight: 600;
        }
        .trending-text-desc {
            color: var(--darkGreyColour);
        }